<div>
    <div class="container">
        <h1><strong>Find flight deals around the world</strong></h1>
        <div className="card">
            <div className="card-body rounded">
                <table className='m-auto d-block'>
                    <tr>
                        <td>
                            <h6>From:</h6>
                            <input type="text" id="myInput" placeholder="from">
                        </td>
                        <td>
                            <h6>Your Destination:</h6>
                            <input type="text" id="myInput" placeholder="To">
                        </td>
                        <td>
                            <h6>Date of booking:</h6>
                            <input type="date" class="form-control" name="date">
                        </td>

                        <p className="card-text ">Caption !!!!!</p>
                        <a href="#" class="btn btn-warning">Check availability !!!</a>
                    </tr>
                </table>
            </div>
        </div>


        <br>
        <div class="card w-75 m-auto d-block m-2">
            <div class="card-body">
                <table>
                    <tr>
                        <td>
                            <h5 class="card-title">Flight Name: 14206 Indigo</h5>
                        </td>
                        <td>
                            <p class="card-text ">18:20 to 03:16 </p>
                        </td>
                    </tr>
                </table>
                <p>Tickets Available: 30</p>
                <a class="btn btn-success" (click)="bookNow()">Book Now</a>
            </div>
        </div>
        <br>
        <div class="card w-75 m-auto d-block m-2">
            <div class="card-body" onclick="payment.html">
                <table>
                    <tr>
                        <td>
                            <h5 class="card-title">Flight Name: 14206 Spice Jet</h5>
                        </td>
                        <td>
                            <p class="card-text">18:20 to 03:16 </p>
                        </td>
                    </tr>
                </table>
                <p>Tickets Available: 30</p>
                <a class="btn btn-success" (click)="bookNow()">Book Now</a>
            </div>
        </div>
        <br>
        <div class="card w-75 m-auto d-block m-2">
            <div class="card-body" onclick="payment.html">
                <table>
                    <tr>
                        <td>
                            <h5 class="card-title">Flight Name: 14206 Air India</h5>
                        </td>
                        <td>
                            <p class="card-text">18:20 to 03:16 </p>
                        </td>
                    </tr>
                </table>
                <p>Tickets Available: 30</p>
                <a class="btn btn-success" (click)="bookNow()">Book Now</a>
            </div>
        </div>
        <br>
        <div class="card w-75 m-auto d-block m-2">
            <div class="card-body" onclick="payment.html">
                <table>
                    <tr>
                        <td>
                            <h5 class="card-title">Flight Name: 14206 Beong 453</h5>
                        </td>
                        <td>
                            <p class="card-text">18:20 to 03:16 </p>
                        </td>
                    </tr>
                </table>
                <p>Tickets Available: 30</p>
                <a class="btn btn-success" (click)="bookNow()">Book Now</a>
            </div>
        </div>
        <br>
        <div class="card w-75 m-auto d-block">
            <div class="card-body" onclick="payment.html">
                <table>
                    <tr>
                        <td>
                            <h5 class="card-title">Flight Name: 14206 Beond 23R</h5>
                        </td>
                        <td>
                            <p class="card-text">18:20 to 03:16 </p>
                        </td>
                    </tr>
                </table>
                <p>Tickets Available: 30</p>
                <a class="btn btn-success" (click)="bookNow()">Book Now</a>
            </div>
        </div>
    </div>
</div>